[Unit]
Description=Console runner for robot

[Service]
Type=simple
ExecStart=/usr/bin/conrun-server
User=robot
StandardInput=tty-fail
StandardOutput=tty
StandardError=journal
TTYPath=/dev/%i

[Install]
WantedBy=multi-user.target
